# Content

This dataset contains about 10 years of daily weather observations from many locations across Australia.

RainTomorrow is the target variable to predict. It means -- did it rain the next day, Yes or No? This column is Yes if the rain for that day was 1mm or more.

In [1]:
import pandas as pd
import numpy as np

In [2]:
raindf = pd.read_csv('weatherAUS/weatherAUS.csv', date_parser=['Date'])
raindf.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [3]:
raindf.isna().sum(), raindf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

(Date                 0
 Location             0
 MinTemp           1485
 MaxTemp           1261
 Rainfall          3261
 Evaporation      62790
 Sunshine         69835
 WindGustDir      10326
 WindGustSpeed    10263
 WindDir9am       10566
 WindDir3pm        4228
 WindSpeed9am      1767
 WindSpeed3pm      3062
 Humidity9am       2654
 Humidity3pm       4507
 Pressure9am      15065
 Pressure3pm      15028
 Cloud9am         55888
 Cloud3pm         59358
 Temp9am           1767
 Temp3pm           3609
 RainToday         3261
 RainTomorrow      3267
 dtype: int64,
 None)

# Fill missing values

In [4]:
raindf['MinTemp'].fillna(raindf['MinTemp'].mean(),inplace=True)
raindf['MaxTemp'].fillna(raindf['MaxTemp'].mean(),inplace=True)
raindf['Rainfall'].fillna(raindf['Rainfall'].mean(),inplace=True)
raindf['Evaporation'].fillna(raindf['Evaporation'].mean(),inplace=True)
raindf['Sunshine'].fillna(raindf['Sunshine'].mean(),inplace=True)
raindf['WindGustSpeed'].fillna(raindf['WindGustSpeed'].mean(), inplace=True)
raindf['WindSpeed9am'].fillna(raindf['WindSpeed9am'].mean(), inplace=True)
raindf['WindSpeed3pm'].fillna(raindf['WindSpeed3pm'].mean(), inplace=True)
raindf['WindDir9am'].fillna('N', inplace=True)
raindf['Humidity3pm'].fillna(raindf['Humidity3pm'].mean(), inplace=True)
raindf['Humidity9am'].fillna(raindf['Humidity9am'].mean(), inplace=True)
raindf['Pressure3pm'].fillna(raindf['Pressure3pm'].mean(), inplace=True)
raindf['Pressure9am'].fillna(raindf['Pressure9am'].mean(), inplace=True)
raindf['Cloud3pm'].fillna(raindf['Cloud3pm'].mean(), inplace=True)
raindf['Temp3pm'].fillna(raindf['Temp3pm'].mean(), inplace=True)
raindf['Temp9am'].fillna(raindf['Temp9am'].mean(), inplace=True)
raindf.dropna(inplace=True)

# Split data into features and label

In [5]:
# Split the data into features and label
X = raindf.drop('RainTomorrow',axis=1)
y = raindf['RainTomorrow']

# Find my categorical features
categorical_features = ['Date','Location','WindGustDir','WindDir9am','WindDir3pm','RainToday']

# Encode and Tranform data

In [6]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot',one_hot,categorical_features)], remainder='passthrough')
transformed_X = transformer.fit_transform(X)
transformed_X


from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size=0.2)

# Choose an estimator

In [7]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()

# Fit the model

In [8]:
model.fit(X_train,y_train)
model.score(X_test, y_test)

0.855625